<div class="book-list">
  {{#each model as |book|}}
    {{#link-to 'book' book.id class="book"}}
      <div class="book">
        {{book.title}}
      </div>
    {{/link-to}}
  {{/each}}
</div>
<div class="actions">
  <button>
  {{#link-to 'create-book' class='btn btn-addBook'}}
    Add Book
  {{/link-to}}
  </button>
</div>